html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #ffffff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

a {
	text-decoration: none;
}

.window-wrap {
  padding: 30px;
}


input[type='text'] {
   color:#333333;
}
.myclass input[type='text']{
   color:#5CB85C
}
.indexpicker .time_pick {
	width:270px;
	display:inline-block;
}
.indexpicker .time_pick > input { width:100%; margin-bottom:20px;}

.min-select {
	justify-content:flex-end;
  width: 60px;
	height: 30px;

}
.hour-select {
	justify-content:flex-end;
  width: 100px;
	height: 30px;

}

.footer {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  background: #82b8ad;
  display:flex;
  color: white;
}
.footer .left {
    text-align: left;
}
.footer .right {
    text-align: right;
}
.footer img {
  margin: 20px;
  width: 36px;
  height: 36px;
}

.footer p1 {
  margin: 20px 0px;
  padding: 20px 0px;
  color: #000000;
}
