<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <button onclick="notify()">calculate</button>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">

        async function getData(){
            const res = await axios.get('http://localhost:3000/user_mainAf', {
            //params: { text: 'text' },
            headers: { 'Content-Type': 'application/json' }
            
            }).then(response=>{
            console.log(response)
            document.write("환영합니다");
            });
        
        //return res
        }
        getData();
        window.onload = function () {
            if (window.Notification) {
                Notification.requestPermission();
                //calculate();여기다 두면 버튼 없이 window로드 될때마다 실행됨
                
            }
        }
 
        function calculate() {
            setTimeout(function () {
                notify();
            }, 1000);
        }
 
        function notify() {
            if (Notification.permission !== 'granted') {
                alert('notification is disabled');
            }
            else {
                var notification = new Notification('Notification title', { //알람 제목
                    icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
                    body: 'Notification text', //알람 내용
                });
 
                notification.onclick = function () {
                    window.open('http://localhost:3000/user_main'); //알람 누르면 우리 홈페이지로 오게
                };
            }
        }
        
        
    </script>
</body>
</html>
