<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='styforusermain.css'/>
  <title>Desk Friend</title>
</head>
<body>
  
  <header>
    <div class="pause">
      <img src="https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/pause.png" id="pause">
    </div>
  </header>
  </div>
  <video autoplay></video>
     
  <button onclick="onButtonClicked()">자세 등록하기</button>
  <h2 id="boom">버튼을 클릭해 올바른 자세를 등록해주세요</h2>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
  
    <script type="text/javascript">
    // get video dom element
        const video = document.querySelector('video');
        

        navigator.mediaDevices.getUserMedia({video: {width: 426, height: 240}}).then((stream) => video.srcObject = stream);
       
        window.onload = function () {
            if (window.Notification) {
                Notification.requestPermission();
                //calculate();여기다 두면 버튼 없이 window로드 될때마다 실행됨
                //나중엔 로그아웃할때 remove시키기
                localStorage.removeItem("flag");
                localStorage.removeItem("startflag");
                localStorage.removeItem("justoneflag");
                localStorage.removeItem("justoneflag2");
            }
            
        }

        var btnSave = document.getElementById('btnSave');
       

        function onButtonClicked(){
        document.getElementById("boom").innerText = '로딩중 입니다...';
       
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0);
        
        var imagebase64data  = canvas.toDataURL('image/jpeg');
        let data = {
          id : imagebase64data
        }
        //imagebase64data = imagebase64data.replace('data:image/jpeg;base64,', '');  
        console.log("eeeesssseeeeeeeeeee")
        
        async function foo(){
          try{
            var responsedata =  await axios.post('http://localhost:3000/makefile',  JSON.stringify(data), {
            headers: {
                'Content-Type': `application/json`,
              }
            })
            console.log(responsedata)
            //let recData = JSON.parse(responsedata.data);
            if(responsedata.status == 200){
                    console.log(responsedata.data.text[0])
                    console.log(responsedata.data.flag)
                    
            }


            if(responsedata.data.flag ==1){ //모니터에 다 안담긴 경우
              document.getElementById("boom").innerText = '모니터에 어깨와 얼굴이 다 나오도록 다시 찍어주세요';
              
              
            }
            else if(responsedata.data.flag ==2){  //자세가 안좋은 경우
              var array=[];
              
              for(var i =0; i<responsedata.data.text.length ; i++){
                array.push(responsedata.data.text[i])
                
              
              }
              
              document.getElementById("boom").innerText = array+"이(가) 바르지 않습니다 다시 촬영해주세요";
            }

            else if(responsedata.data.flag ==0){  //자세가 좋은 경우
             
              //document.getElementById("boom").innerText = "올바른 자세 등록중 입니다";

              if (Notification.permission !== 'granted') {
                alert('notification is disabled');
              }
              else {
                  var notification = new Notification("[DESK FRIENDS]", { //알람 제목
                      icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
                      body: "올바른 자세가 등록되어 서비스 페이지로 이동합니다" //알람 내용
                  });
  
                  notification.onclick = function () {
                      window.open('http://localhost:3000/user_main'); //알람 누르면 우리 홈페이지로 오게
                  };
              }

              window.location.href = 'http://localhost:3000/user_main';
            }
            
            
            
            
          }catch(e){console.log("[ERROR|success pre error] : ",e)}
        
        }
        foo().then(res=>{
          console.log("ddd")
        })      
       
      };      
       
        </script>
        
   
    



  <!--하단 설정 메뉴바 -->
  <div class="footer">
    <div class="left">
      <!--<a href="alarm_settings.html" target="_blank" title="알람설정"><img src="alarm.png" id="settings"><p1>알람설정</p1></a>-->
      <button type="button" class="navyBtn" onClick="location.href='/alarm_settings'"><img src="https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/alarm.png" id="settings"></button><!--이런식으로 바꾸는거 보연이에게 상의-->
    </div>
    <div class="right">
      <!--<a href="callender.html" target="_blank" title="캘린더"><img src="user-icon.png" id="settings"></a>
      <a href="onoff_settings.html" target="_blank" title="캘린더"><img src="settings.png" id="settings"></a>-->
    
      <button type="button" class="navyBtn" onClick="location.href='/callender'"><img src="https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/user-icon.png" id="settings"></button>
      <button type="button" class="navyBtn" onClick="location.href='/onoff_settings'"><img src="https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/settings.png" id="settings"></button>
    </div>
  </div>
  </body>
  
  
<style>
  html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #ffffff;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

header .pause{
	display:flex;
	justify-content:flex-end;
}

header .pause img {
  margin: 20px;
  width: 64px;
  height: 64px;
}

.footer {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  background: #82b8ad;
  display:flex;
  color: white;
}
.footer .left {
    text-align: left;
}
.footer .right {
    text-align: right;
}
.footer img {
  margin: 20px;
  width: 36px;
  height: 36px;
}

.footer p1 {
  margin: 20px 0px;
  padding: 20px 0px;
  color: #000000;
}
</style>  
</html>
