<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='styforusermain.css'/>
  <title>Desk Friend</title>
</head>
<body>
  
  <header>
    <div class="pause">
      <h2 id="sentence"></h2>
      <!--<img src="https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/pause.png" id="pause">-->
      <img src="https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/play.png" id="play">
      
    </div>
  </header>
  </div>
  <video autoplay></video>
  
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        
       

        document.getElementById('play').addEventListener('click', onClick); // 이벤트 연결
        // get video dom element
        const video = document.querySelector('video');
        
        window.onload = function () {
            if (window.Notification) {
                Notification.requestPermission();
                //calculate();여기다 두면 버튼 없이 window로드 될때마다 실행됨
                
            }
            if(localStorage.getItem('posturealarm')==null){//이 페이지에 처음 들어간 상황이라면
              localStorage.setItem('posturealarm',"false") //false로 우선 셋팅
            }
            if(localStorage.getItem('webcamalarm')==null){//이 페이지에 처음 들어간 상황이라면
              localStorage.setItem('webcamalarm',"false") //false로 우선 셋팅
            }
            console.log(localStorage.getItem('posturealarm'))//확인용
      
        }

 
        // request access to webcam
        navigator.mediaDevices.getUserMedia({ video: true, audio: false }).then((stream) => video.srcObject = stream);
        
        const getFrame = () => {
        
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
        
            const data = canvas.toDataURL('image/jpeg');
        
            return data;
        }
        
        var flag = 0;//처음 시작은 일시정지 상태
        const WS_URL = 'ws://localhost:3000';
        const FPS = 3;
        var ws;

        function onClick() {
         
          if(flag==0){//flag가 0인 상태에서 버튼을 클릭했다면
            alert('서비스 사용을 시작합니다.');
            document.getElementById("sentence").innerText = '';
            document.getElementById("play").src = "https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/pause.png";
            flag=1; //재생상태로 변환
            
            navigator.mediaDevices.getUserMedia({ video: true, audio: false }).then((stream) => video.srcObject = stream);
        
            
            

            ws =  new WebSocket(WS_URL);
            ws.onopen = () => {
                console.log(`Connected to ${WS_URL}`);
                setInterval(() => {
                    ws.send(getFrame());
                }, 30000 / FPS);
            }

            ws.onmessage= function(event){
              console.log("server message: ",event.data);
              let recData = JSON.parse(event.data);
              console.log("flag message: ",recData.flag);
              var data=[];


              if (Notification.permission !== 'granted') {
                    alert('notification is disabled');
              }
              else {
                var state = localStorage.getItem('posturealarm')
                if (state=="true"){
                  if(recData.flag ==1){//모니터에 다 안담긴 경우
                  var notification = new Notification("[DESK FRIENDS]", { //알람 제목
                  icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
                  body: '모니터에 어깨와 얼굴이 다 나오도록 자세를 바르게 해주세요', //알람 내용
                });
    
                  notification.onclick = function () {
                    window.open('http://localhost:3000/user_main'); //알람 누르면 우리 홈페이지로 오게
                  };
                }

                else if(recData.flag ==2){  //자세가 안좋은 경우
                  
                  var array=[];
                  
                  for(var i =0; i<recData.text.length ; i++){
                    array.push(recData.text[i])
                    
                  
                  }
                
                  data=array

                  var notification = new Notification("[DESK FRIENDS]", { //알람 제목
                    icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
                    body: data + "이(가) 바르지 않습니다 자세를 바르게 해주세요", //알람 내용
                  });
    
                  notification.onclick = function () {
                  window.open('http://localhost:3000/user_main'); //알람 누르면 우리 홈페이지로 오게
                };
                }
                }
              
                
           
               }
             }
          }
          
          else if(flag==1){//flag가 1인 상태에서 버튼을 클릭했다면
            alert('서비스 사용이 일시 중지 되었습니다.');
            document.getElementById("sentence").innerText = '재생 버튼을 클릭해 서비스를 재개해주세요';
            document.getElementById("play").src = "https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/play.png";
            flag=0; //일시정지 변환
            ws.close();
            video.pause();
            video.src = "";//웹캠꺼진거 표시할 수 있는 이미지면 좋겠음
  	        video.srcObject.getTracks()[0].stop();
          }
          
        }
        

       
        </script>
        
   
    



  <!--하단 설정 메뉴바 -->
  <div class="footer">
    <div class="left">
      <!--<a href="alarm_settings.html" target="_blank" title="알람설정"><img src="alarm.png" id="settings"><p1>알람설정</p1></a>-->
      <button type="button" class="navyBtn" onClick="location.href='/alarm_settings'"><img src="https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/alarm.png" id="settings"></button><!--이런식으로 바꾸는거 보연이에게 상의-->
    </div>
    <div class="right">
      <!--<a href="callender.html" target="_blank" title="캘린더"><img src="user-icon.png" id="settings"></a>
      <a href="onoff_settings.html" target="_blank" title="캘린더"><img src="settings.png" id="settings"></a>-->
    
      <button type="button" class="navyBtn" onClick="location.href='/callender'"><img src="https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/user-icon.png" id="settings"></button>
      <button type="button" class="navyBtn" onClick="location.href='/onoff_settings'"><img src="https://raw.githubusercontent.com/btothey99/DibidibidipLearning/master/homepage/settings.png" id="settings"></button>
    </div>
  </div>
  </body>
  
  
<style>
  html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #ffffff;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

header .pause{
	display:flex;
	justify-content:flex-end;
}

header .pause img {
  margin: 20px;
  width: 64px;
  height: 64px;
}

.footer {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  background: #82b8ad;
  display:flex;
  color: white;
}
.footer .left {
    text-align: left;
}
.footer .right {
    text-align: right;
}
.footer img {
  margin: 20px;
  width: 36px;
  height: 36px;
}

.footer p1 {
  margin: 20px 0px;
  padding: 20px 0px;
  color: #000000;
}
</style>  
</html>
